#hud {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  color: white;
  font-family: monospace;
  font-size: 24px;
  z-index: 10;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
}

#score {
  position: absolute;
  right: 20px;
  margin-top: 20px;
}

#lives {
  margin-bottom: 10px;
}

#game-over-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0);
  color: white;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 100;
  display: none;
}

#game-over-screen h1 {
  font-size: 4rem;
  margin: 0.5rem;
}

#game-over-screen p {
  font-size: 1.5rem;
  margin: 1rem;
}

#restart-btn {
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#loading-text {
  color: #ffffff;
  font-family: Arial, sans-serif;
}

#progress-bar {
  width: 50%;
  height: 20px;
  background: #333;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

#progress-fill {
  width: 0%;
  height: 100%;
  background: #4CAF50;
  transition: width 0.3s ease-in-out;
}

#distance-bar-container {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 400px;
  height: 40px;
  pointer-events: none;
}

#distance-bar {
  background: #e0e4f7;
  border-radius: 20px;
  height: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 2px solid #485a8b;
}

#distance-bar-fill {
  background: linear-gradient(to right, #a2e0e6, #4680bb);
  height: 100%;
  width: 100%;
  border-radius: 20px 0 0 20px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: width 0.2s;
}

#squirrel-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: left 0.2s;
  pointer-events: none;
}

#lives-container {
  display: flex;
  align-items: center;
}

/* #lives-label {
  font-size: 20px;
  letter-spacing: 1px;
  margin-right: 20px;
} */

#hearts {
  margin-left: 20px;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.heart {
  height: 24px;
  width: auto;
  margin-right: 8px;
}

.heart:last-child {
  margin-right: 0;
}

.heart:first-child {
  margin-left: 10px;
}

#volume-btn {
  position: fixed;         
  bottom: 24px;            
  left: 24px;              
  z-index: 99;             
  width: 32px;             
  height: 32px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#volume-icon {
  width: 100%;
  height: 100%;
  filter: invert(1) brightness(2) drop-shadow(0 0 4px white); 
  pointer-events: none;     
}
